<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        <title>Star Admin</title>
        <link rel="stylesheet" href="{{ asset ('back/node_modules/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css')}}" />
        <link rel="stylesheet" href="{{ asset ('back/node_modules/flag-icon-css/css/flag-icon.min.css') }}" />
        <link rel="stylesheet" href="{{ asset ('back/css/style.css') }}" />
        <link rel="shortcut icon" href="{{ asset ('back/images/favicon.png') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    {% endblock %}


<body>
<div class=" container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="bg-white text-center navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="{{  asset('back/images/logo_star_black.png')}}" /></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{  asset('back/images/logo_star_mini.jpg')}}" alt=""></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                <li class="nav-item">
                    <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{{ asset('back/images/face.jpg')}}" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- partial -->
    {% block body %}

        &
    {% endblock %}

    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-right">
                <a href="#">Star Admin</a> &copy; 2017
            </span>
        </div>
    </footer>

</div>
<!-- partial -->

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    <script src="{{ asset('back/node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('back/node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
    <script src="{{ asset('back/node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('back/node_modules/chart.js/dist/Chart.min.js')}}"></script>
    <script src="{{ asset('back/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js')}}"></script>
    <script src="{{ asset('back/https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap')}}" async defer></script>
    <script src="{{ asset('back/js/off-canvas.js')}}"></script>
    <script src="{{ asset('back/js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset('back/js/misc.js')}}"></script>
    <script src="{{ asset('back/js/chart.js')}}"></script>
    <script src="{{ asset('back/js/maps.js')}}"></script>
{% endblock %}

</body>
</html>
